html, body {
  width: 350px;
  background-color: white;
}

.hidden {
  display: none;
}

#not-gmail, #error-content, #popup-content {
  margin-left: 5px;
}

.dragDiv {
  width: 75px;
  height: 45px;
  padding: 10px;
  border: 1px solid black;
  vertical-align: middle;
  line-height: 1;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 49%;
  display: inline-block;
}

.change:hover {
  background-color: #CFF2F2;
}

.change {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
